.post-form-component {
  width: 95vw;
  margin: 0 auto;
  display: flex;
}

.left-section {
  flex: 1;
  margin: 1em 0;
}

.back-btn {
  width: 10em;
  display: flex;
  background-color: #0e0e0e;
  color: whitesmoke;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  padding: 1em;
  cursor: pointer;
  text-decoration: none;
}

.back-btn > span {
  padding-left: 1em;
}

.form-container {
  flex: 4;
  margin: 1em;
}

.form-group {
  width: 60%;
  display: flex;
}

.form-group label {
  flex: 1;
  display: flex;
  align-items: center;
}

.form-input {
  flex: 4;
  padding: 1em;
  border: none;
  font-size: 1em;
  border-radius: .2em;
  margin: 1em 0;
  box-sizing: border-box;
}

.categories-select-container {
  display: flex;
  flex: 4;
}

.category-item {
  padding: 1em;
  background-color: #0e0e0e;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.125em;
  margin-right: 1em;
  cursor: pointer;
}

.category-item.active {
  background-color: whitesmoke;
  color: #0e0e0e;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.form-footer {
  margin-top: 1em;
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.submit {
  padding: .5em 1em;
  background-color: #0e0e0e;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.125em;
  cursor: pointer;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.submit.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}