.header-component {
  background-color: #0e0e0e;
  width: 100vw;
  height: 3.125em;
  display: flex;
  align-items: center;
}

.header-component .logo {
  padding-left: 1em;  
}

.header-component a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 2em;
  line-height: 1.2;
}
